.thumbnail .caption{
	overflow: hidden;
}
.carousel_inicio {
	margin-bottom: 30px;
}
.titulo_subcategorias{
	margin-top: 0;
}
@media (max-width: 768px){
	.carousel_inicio{
		margin-top: 15px;
	}
}

.cat{
	color:white;
}